body {
  background-color: #54AFAF !important;
}

.hide {
  display: none !important;
}

.wrapper {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  /* background-color: #d0e9e9; */
  background-image: url(../images/noise1.png);
  background-repeat: repeat;
}

#event-create-div-wrapper {
  margin-bottom: 2%;
}

#event-create-div {
  margin: 0 auto;
  width: 200px;
}

.event-create-button {
  width: 200px;
}

textarea {
  resize: vertical;
}

#notifications {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  height: 20px;
}

#timeline-filter-select {
  width: 200px;
}

#timeline-controls {
  margin-bottom: 40px;
  height: 84px;
}

#timeline {
  width: 96%;
  margin: 0% 2%;
  margin-bottom: 50px;
}

#range-start {
  width: 170px;
}

#range-end {
  width: 170px;
}

#height {
  width: 120px;
}

#actions {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.actions-single-event {
  width: 276px;
}

.actions-multiple-events {
  width: 301px;
}

#actions-wrapper {
  margin-bottom: 30px;
}

.timeline-control-wrapper {
  float: left;
  margin: 0 10px;
}

.clear-float {
  clear: both;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
























